# Logs
logs
*.log
.pnpm-debug.log*

# Build and dependencies directories
build/
node_modules/

# .env environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Generated typesafe-i18n files
source/locales/i18n-node.ts
source/locales/i18n-types.ts
source/locales/i18n-util.async.ts
source/locales/i18n-util.sync.ts
source/locales/i18n-util.ts
